body{
  font-family:'Poppins', sans-serif;
  /* margin: 0 auto; */
  /* padding: 5%; */
}

h1, h2{
  text-align: center;
}
p{
  color:  #c1c1c1;
  font-size: 12px;
}
.firstDiv{
  margin: 0 auto;
}
.firstDiv> h1{
  font-weight: lighter;
  font-size: 30px;
  margin-bottom: -15px;
  color: #c1c1c1;
}
.firstParagraph{
  margin: 0 auto;
   width: 400px; 
}
.firstParagraph>p{
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
  
}
section{
  margin: 0 auto;
}
.main{
  margin-top: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 50px;
}
.column {
  float: left;
  /* width: 31.33%;
  padding: 10px; */
 
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.firstBox, .lastBox, .secondBox, .thirdBox{
  background-color: #ffffff;
  width: 300px;
  border-radius: 5px;
  height: 200px;
  box-shadow: 2px 3px 50px  rgba(0, 0, 0, 0.05);
  border-top: 3px solid  hsl(180, 62%, 55%);
  padding: 20px;
  margin-top: 150px;
}
.firstBox{
  margin-right: 15px;
}
.secondBox{
  border-top: 3px solid  hsl(0, 78%, 62%);
  margin-top: 0px;
}
.thirdBox{
  border-top: 3px solid  hsl(34, 97%, 64%);
  margin-top: 20px;
}
.lastBox{
  border-top: 3px solid  hsl(212, 86%, 64%);
  margin-left: 15px;
}
.firstBox>img, .lastBox>img, .secondBox>img, .thirdBox>img{
  width: 50px;
  margin-top: 30px;
  float: right;
}
.secondBox>img, .thirdBox>img{
  margin-top: 30px;
}
.textWidth{
  width: 220px;
}
@media screen and (max-width: 1024px) {
  .firstBox{
    margin-top: 50px;
  }
  .firstParagraph{
    width: fit-content;
  }
  body{
    padding: 20px;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
@media screen and (max-width:1092px){
  .column{
    float: none;
  }
  .lastBox{
    margin-top: 20px;
  }.firstBox{
    margin-right: 0px;
    margin-top: 0px;
  }
  .lastBox{
    margin-left: 0px;
  }
  .secondBox{
    margin-top: 20px;
  }
}